* {
  
}

/* Font styles */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* end of font */

/* classes formating*/

.paragraph-text {
  margin-top: 20px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #676767;
}

.red-button {

  /* Layout */
  width: 186px;
  height: 70px;

  /* Border styles */
  border: none;
  border-radius: 12px;
  background: #F86061;

  /* Typography */
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFAFA;

}

.red-button:hover {
  cursor: pointer;
}

/* id formating */

#g-logo-icon {
  width: 42px;
  height: 42px;
}

#grover-icon {
  width: 107px;
  height: 21px;
  margin-left: 7px;
}

#magnifier-search-bar-header {
  width: 16px;
  height: 16px;
  margin-left: 18px;
  margin-right: 10px;
}

#magnifier-search-bar-header:hover {
  cursor: pointer;
}

#line-search-bar-header {
  width: 1px;
  height: 27px;
  margin-left: 8px;
}

#basket-search-bar-header {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-right: 10px;
}



#header-container {
  width: 100%;
  height: 711px;
  top: 32px;
  /* background-color: aqua; */
}

#header-top {
  width: 80%;
  margin: 50px 150px 0 150px;
  display: flex;
  justify-content: space-between;
}

#logo-header {
  display: flex;
  align-items: center;
}

/* Estilos básicos para la barra de navegación */

nav {
  margin: 20px 0 20px 0;
  width: fit-content;
  height: 24px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  

}
  
nav ul {
  width: 312px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav ul li a {
  /* display: block;
  text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  color: #4D4D4D;
}

/* #home-nav {
  color: #F55253;
  font-family: Poppins;
} */

nav ul li a:hover {
  color: #F55253;
  cursor: pointer;
} 

#search-bar-header {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 30px 30px 30px #f9f9f9;
}

#search-bar-header input {
  height: 31px;
  border-width: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#search-bar-header span {
  margin-bottom: 32px;
  padding: 8px 10px 8px 10px;
  border-radius: 50%;
  background-color: #F55253;
  color: white;
  font-weight: 500;
  font-family: Poppins;
  box-shadow: 0px 0px 20px 1px #f58989;
}

#search-bar-header span:hover {
  cursor: pointer;
}

/* header content */

#header-content {
  width: 90%;
  margin-top: 100px;
  padding-left: 135px;
}
         
#header-content-left {
  width: 40vw;
}

#faster-box {
  width: 250px;
  height: 46px;
  border-radius: 23px;
  background-color: #FDECEC;

  display: flex;
  justify-content: center;
  align-items: center;
}

#faster-box p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #F55556;
  
}

#faster-box img {
  padding: 20px 0 0 0;
}

#header-content-left h1 {
  margin-top: 15px;
  font-family: Poppins;
  font-size: 74px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #2E2E2E;
  
}

#header-content-left h1 span {
  color: #f33e3e;
}

#header-content-left-buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

#header-content-left-buttons img {
  margin: 0 20px 0 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px #e4e1e1;
}

#header-content-left-buttons p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #363636;

}